body
{
    font-family: verdana;
    padding: 50px

    text-align: center;

    /*vertical-align: bottom;*/
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 100%;
    min-width: 100%;
}


/* Font Size Definitions*/
h1
{
    font: normal;
    font-weight: normal;
    font-size: 44px;


    color: white;

}
h2
{
    font-size: 22px;
    font-weight: normal;
    color: white;
}
p
{
    font-size: 16px;
    color: white;
}

ul{
  color:white;
}
ul li{
  color: white;
}

input[type=text],
select
{
    display: inline-block;

    box-sizing: border-box;
    width: 100%;
    margin: 8px 0;
    padding: 12px 20px;

    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type=submit]
{
    width: 100%;
    margin: 8px 0;
    padding: 14px 20px;

    cursor: pointer;

    color: white;
    border: none;
    border-radius: 4px;
    background-color: #030b4e;
}

input[type=submit]:hover
{
    background-color: #000db4;
}


/* div section definitions*/

.container
{
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}


.form
{

    padding: 20px;
    border-radius: 5px;
    background-color: #b4b4b4;
    width: 75vw;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;

}

/* The hero image */
.hero-image
{


    /* Set a specific height */
    height: 50vh;
    width: 100vw;

    /* The image used */
    background-image: url(../img/mountain.jpg);
    background-repeat: no-repeat;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-size: cover;

    position: relative;
    padding: 20px;
    border-radius: 5px;

}

/* Place text in the middle of the image */
.hero-text
{
    position: absolute;
    top: 25%;
    left: 50%;
    width: auto;

    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    padding: 5px;
    border-radius: 5px;

}
